@model SharpCms.Core.DataObjects.PageModel

@{
    ViewBag.Title = "PageTemplate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PageTemplate</h2>

<h3>@Model.Page.PageInfo.PageName</h3>

<a href="/bold">Bold Page</a>
