@using SharpCms.Core.DataObjects
@model PageInfo
@{
    var rootpage = Model.Children.FirstOrDefault(x => x.NavState == NavState.OPEN && x.UrlName == ViewContext.RouteData.Values["page1"].ToString()) ?? new PageInfo();
    var firstpage = rootpage.Children.FirstOrDefault(x => x.NavState == NavState.OPEN && x.UrlName == ViewContext.RouteData.Values["page2"].ToString()) ?? new PageInfo();
    var rootpath = "/" + rootpage.UrlName + "/" + firstpage.UrlName;
    
}
<div id="submenu">
    @if (firstpage.Children.Any())
    {
        <ul>
            @foreach (var page in firstpage.Children.Where(x => x.NavState == NavState.OPEN))
            {
                var path = rootpath + "/" + page.UrlName;
                <li style="margin-bottom: 5px;">
                    @{
                var classname = page.InPath ? "sel" : string.Empty;
                    }
                    <a href="@path" class="@classname" ><span>@page.Menuname</span>
                        <span class="hide">| </span></a>
                </li>
            }
        </ul>
    }
</div>
