@model SharpCms.Core.DataObjects.PageModel

@{
    ViewBag.Title = Model.Page.PageInfo.PageName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("Menu", Model.SiteTree);}

<h1>@Model.Page.PageInfo.PageName</h1>

<p>@Model.Page.PageInfo.Description</p>
